*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif; 
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#toolbar{
    width: 1301px;
    height: 50px;
    padding: 10px;
    position: fixed;
    bottom: 0;;
    background-color: black;
    color: white;
}

.radiuscontrol{
    width: 20px;
    height: 20px;
    background-color: darkslategray;
    display: inline-block;
    text-align: center;
    padding: 2px;
}